ipython
nbsphinx
readthedocs-sphinx-search
sphinx
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-intl
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
pydata-sphinx-theme
numpy
pandas
QuantLib
joblib
scipy
importlib
openpyxl
plotly
pymysql
oracledb
redmail
python-docx
python-pptx
imapclient
easygui
copula
copulae